/*
body
    {
        background: lightcoral;
        font: 18px Arial, sans-serif;
    }
    h1
        {
            color: darkgoldenrod;
        }
    */

<!DOCTYPE html>
<html lang="en">

<body background="PhptoRoom.png">